In [1]:
import sys
sys.path.append("../src")
from functions import *
import pandas as pd

In [3]:
year = 2023
selected_columns = ["Div", "Date", "HomeTeam", "AwayTeam", "FTHG", "FTAG", 
                    "FTR", "HTHG", "HTAG", "HTR", "Referee", "HS", "AS", 
                    "HST", "AST", "HF", "AF", "HC", "AC", "HY", "AY", "HR", "AR"]
dfs = []

while year > 2009:
    temp = read_csv(f'premier_{year}')
    temp = temp[selected_columns]
    dfs.append(temp)
    year -= 1

df_premier = pd.concat(dfs, ignore_index=True)
# df_premier = add_year(df_premier, 'Date')
# df_premier = calculate_points(df_premier)
# df_premier_agg = calculate_goals_statistics(df_premier)
# df_premier_agg.sort_values(by='goal_diff', ascending=False)

table2022 = create_classification_table(df_premier, 2021)
table2022

,Team,Total Points,Wins,Draws,Loses,Goals Diff,Goals For,Goals Against
12,Man City,110.0,36.0,2,6.0,81.0,113.0,32.0
5,Chelsea,83.0,24.0,11,7.0,38.0,70.0,32.0
11,Liverpool,77.0,23.0,8,10.0,43.0,81.0,38.0
0,Arsenal,76.0,23.0,7,11.0,28.0,71.0,43.0
13,Man United,75.0,21.0,12,8.0,25.0,72.0,47.0
21,West Ham,73.0,22.0,7,12.0,22.0,73.0,51.0
18,Tottenham,66.0,20.0,6,14.0,14.0,64.0,50.0
10,Leicester,62.0,18.0,8,14.0,7.0,70.0,63.0
3,Brighton,52.0,12.0,16,12.0,0.0,39.0,39.0
9,Leeds,52.0,14.0,10,16.0,-10.0,50.0,60.0
1,Aston Villa,51.0,15.0,6,21.0,-9.0,51.0,60.0
22,Wolves,49.0,13.0,10,17.0,-11.0,34.0,45.0
7,Everton,49.0,13.0,10,17.0,-16.0,42.0,58.0
6,Crystal Palace,48.0,12.0,12,17.0,-16.0,48.0,64.0
17,Southampton,38.0,9.0,11,21.0,-36.0,42.0,78.0
14,Newcastle,37.0,8.0,13,21.0,-32.0,48.0,80.0
4,Burnley,34.0,7.0,13,19.0,-20.0,39.0,59.0
16,Sheffield United,21.0,7.0,0,15.0,-24.0,12.0,36.0
2,Brentford,20.0,5.0,5,8.0,-4.0,21.0,25.0
20,West Brom,18.0,4.0,6,12.0,-17.0,24.0,41.0
8,Fulham,17.0,3.0,8,12.0,-16.0,14.0,30.0
19,Watford,13.0,4.0,1,12.0,-13.0,22.0,35.0
15,Norwich,10.0,2.0,4,13.0,-34.0,8.0,42.0